<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Alberto's Portfolio!</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Alberto Franco</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About Me</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About Me</a></li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab col s3"><a class="active" href="#test1">Experience</a></li>
                    <li class="tab col s3"><a href="#test2">Languages &amp; Technologies</a></li>
                    <li class="tab col s3"><a href="#test3">Education</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <ul>
                    <h5>Cox Automotive - Dealertrack</h5>
                    <h6><strong>Software Engineer,</strong> Intern</h6>
                    <li>Learned how to use Splunk to search through error logs</li>
                    <li>Created a Splunk dashboard to assist other engineers in getting concise information from logs.</li>
                    <li>Used JavaScript to create a script in IBM Datapower that converts XML to their JSON mappings</li>
                    <li>Learned about the Agile development process and worked on a development team</li>
                </ul>
                <ul>
                    <h5>Accumedic Computer Systems Inc.</h5>
                    <h6><strong>Web Forms Programmer</strong></h6>
                    <li>Converted paper documents/forms into computer format for use in hospitals and doctors' offices</li>
                    <li>Used intelligent user interface design to create web forms</li>
                    <li>Performed tests to make sure information was displayed properly</li>
                </ul>
                <ul>
                    <h5>York College, City University of New York</h5>
                    <h6><strong>Robotics Intern</strong></h6>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div id="test2" class="col s12">Langauges &amp; Technologies</div>
            <div id="test3" class="col s12">Education</div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2017 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

            <script type="text/javascript" src="{% static "js/jquery-3.2.1.js" %}"></script>
            <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
            <script type="text/javascript">
                $(".button-collapse").sideNav();
            </script>
    </body>
</html>