<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Alberto's Portfolio!</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://use.fontawesome.com/c98ff6bbb9.js"></script>
        <link type="text/css" rel="stylesheet" href="{% static "css/footerStyles.css" %}">
    </head>
    <body>
        <nav class="grey darken-3">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Alberto Franco</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">place</i>Home</a></li>
                    <li><a href="{% url 'projects' %}"><i class="tiny material-icons left">folder</i>Projects</a></li>
                    <li><a href="{% url 'about' %}"><i class="tiny material-icons left">contact_mail</i>About Me</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'about' %}">About Me</a></li>
                </ul>
            </div>
        </nav>
        {% include 'portfolio/jumbo.html' %}

        {% block contentBody %}
        {% endblock %}

        <footer class="page-footer grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Points of Contact</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 center-align">
                        <a href="https://github.com/afranco07" class="tooltipped" data-position="top" data-delay="50" data-tooltip="GitHub Repo" target="_blank"><i class="fa fa-github-square fa-5x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col s4 center-align">
                        <a href="https://linkedin.com/in/afranco07" class="tooltipped" data-position="top" data-delay="50" data-tooltip="LinkedIn Profile" target="_blank"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col s4 center-align">
                        <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="E-Mail Me" target="_blank"><i class="fa fa-envelope fa-5x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Text
                    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static "js/jquery-3.2.1.js" %}"></script>
        <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
        <script type="text/javascript">
            $(".button-collapse").sideNav();
            $(document).ready(function(){
                $('.modal').modal();
            });
            $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
            });
        </script>
    </body>
</html>