{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block contentBody %}
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width grey lighten-2">
            <li class="tab col s3"><a class="active blue-text text-darken-4" href="#experience">Experience</a></li>
            <li class="tab col s3"><a class="blue-text text-darken-4" href="#languages">Languages &amp; Technologies</a></li>
            <li class="tab col s3"><a class="blue-text text-darken-4" href="#education">Education</a></li>
        </ul>
    </div>
    <div id="experience" class="col s12 center-align">
        <ul>
            <h5>Cox Automotive - Dealertrack</h5>
            <h6><strong>Software Engineer,</strong> Contractor</h6>
            <li>
                Developed a restful API using the Django Rest Framework 
                that captures data sent between Dealertrack and multiple businesses 
                and stores it in the appropriate ECS bucket and retrieves data based 
                on request headers 
            </li>
            <li>
                Created unit tests for 100% code coverage that run in the CI/CD 
                pipeline for the API
            </li>
            <li>
                Developed a ReactJS frontend that interacts with the restful API 
                so that non-technical people can retrieve data stored in the ECS 
                buckets
            </li>
        </ul>
        <div class="divider"></div>
        <ul>
            <h5>CUNY Tech Prep, NYC Tech Talent Pipeline</h5>
            <h6><strong>Full Stack Developer,</strong> Student</h6>
            <li>Prepare for a software engineering career via a competitive, 
                yearlong training program that blends a full stack JavaScript boot 
                camp with professional development coaching
            </li>
            <li>
                Learn in-demand technologies like React and Node + Express as well 
                as tools & processes for design, implementation, testing, and deployment 
                like agile & Scrum with Trello, TDD, CI/CD, etc.
            </li>
        </ul>
        <div class="divider"></div>
        <ul>
            <h5>Cox Automotive - Dealertrack</h5>
            <h6><strong>Software Engineer,</strong> Intern</h6>
            <li>
                Designed and developed a Splunk dashboard using custom XML and queries 
                to parse logs from dealership, internal applications, and catch errors 
                before they reach end-users 
            </li>
            <li>
                Built a script in IBM Datapower with JavaScript to normalize and aggregate 
                data on potential car buyers that converted XML dealership feeds into JSON 
                mappings for improved searchability and error detection
            </li>
            <li>
                Followed Scrum best practices as part of an eight-person development team, 
                participating in daily standups, backlog grooming, and retrospectives
            </li>
        </ul>
        <div class="divider"></div>
        <ul>
            <h5>Accumedic Computer Systems Inc.</h5>
            <h6><strong>Web Forms Programmer</strong></h6>
            <li>
                Migrated hundreds of paper medical forms from clients into Accumedic’s 
                EMR system, performed manual tests to ensure field accuracy and display 
                format, and updated forms based on customer feedback
            </li>
        </ul>
        <div class="divider"></div>
        <ul>
            <h5>York College, City University of New York</h5>
            <h6><strong>Robotics Intern</strong></h6>
            <li>Created a hexacopter with the instruction of a mentor</li>
            <li>Learned how to create 3D graphics using computer software (TinkerCad)</li>
            <li>Designed my own objects using a 3D printer and TinkerCad Software</li>
            <li>Tested and debugged the hardware using the Arduino software</li>
            <li>Programmed the MultiWii circuit board to use all of the added components</li>
        </ul>
    </div>
    <div id="languages" class="col s12 center-align">
        <h5>Programming Languages</h5>
        <ul>
            <li>Java</li>
            <li>JavaScript &amp; jQuery</li>
            <li>HTML/CSS</li>
            <li>Python</li>
            <li>C++/C#</li>
            <li>SQL</li>
            <li>Bash</li>
            <li>Swift</li>
        </ul>
        <div class="divider"></div>
        <h5>Frameworks/Libraries</h5>
        <ul>
            <li>ReactJS &amp; Redux</li>
            <li>NodeJS &amp; NPM</li>
            <li>ExpressJS</li>
            <li>Django</li>
            <li>Flask</li>
            <li>Sequelize ORM</li>
            <li>WebPack</li>
        </ul>
        <div class="divider"></div>
        <h5>Applications</h5>
        <ul>
            <li>Ubuntu Linux</li>
            <li>Git/GitHub</li>
            <li>Postman</li>
            <li>Adobe Photoshop</li>
            <li>Splunk</li>
            <li>Microsof Visual Studio</li>
            <li>Intellij IDEA &amp; Pycharm</li>
            <li>Unity Game Engine</li>
            <li>Xcode</li>
            <li>Eclipse</li>
        </ul>
    </div>
    <div id="education" class="col s12 center-align">
        <h5>Queens College, City University of New York</h5>
        <h6>Bachelors of Science, Computer Science May 2018</h6>
        <div class="divider"></div>
        <h5>Relevant Courses</h5>
        <ul>
            <li>Data Structures</li>
            <li>Algorithms</li>
            <li>Software Design</li>
            <li>Assembly Language</li>
            <li>Web Development</li>
            <li>Computer Organization</li>
            <li>Operating Systems</li>
            <li>Databases</li>
            <li>Theory of Computation</li>
        </ul>
    </div>
</div>

{% include 'portfolio/randomProjects.html' %}

{% endblock %}