{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block contentBody %}
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width grey lighten-2">
            <li class="tab col s3"><a class="active blue-text text-darken-4" href="#experience">Experience</a></li>
            <li class="tab col s3"><a class="blue-text text-darken-4" href="#languages">Languages &amp; Technologies</a></li>
            <li class="tab col s3"><a class="blue-text text-darken-4" href="#education">Education</a></li>
        </ul>
    </div>
    <div id="experience" class="col s12 center-align">
        <ul>
            <h5>Cox Automotive - Dealertrack</h5>
            <h6><strong>Software Engineer,</strong> Intern</h6>
            <li>Learned how to use Splunk to search through error logs</li>
            <li>Created a Splunk dashboard to assist other engineers in getting concise information from logs.</li>
            <li>Used JavaScript to create a script in IBM Datapower that converts XML to their JSON mappings</li>
            <li>Learned about the Agile development process and worked on a development team</li>
        </ul>
        <div class="divider"></div>
        <ul>
            <h5>Accumedic Computer Systems Inc.</h5>
            <h6><strong>Web Forms Programmer</strong></h6>
            <li>Converted paper documents/forms into computer format for use in hospitals and doctors' offices</li>
            <li>Used intelligent user interface design to create web forms</li>
            <li>Performed tests to make sure information was displayed properly</li>
        </ul>
        <div class="divider"></div>
        <ul>
            <h5>York College, City University of New York</h5>
            <h6><strong>Robotics Intern</strong></h6>
            <li>Created a hexacopter with the instruction of a mentor</li>
            <li>Learned how to create 3D graphics using computer software (TinkerCad)</li>
            <li>Designed my own objects using a 3D printer and TinkerCad Software</li>
            <li>Tested and debugged the hardware using the Arduino software</li>
            <li>Programmed the MultiWii circuit board to use all of the added components</li>
        </ul>
    </div>
    <div id="languages" class="col s12 center-align">
        <h5>Programming Languages</h5>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript &amp; jQuery</li>
            <li>Python</li>
            <li>Java</li>
            <li>C++/C#</li>
            <li>SQL</li>
        </ul>
        <div class="divider"></div>
        <h5>Applications</h5>
        <ul>
            <li>Ubuntu Linux</li>
            <li>Linux Command Line</li>
            <li>Django Framework &amp; Flask</li>
            <li>Bootstrap</li>
            <li>Adobe Photoshop</li>
            <li>Splunk</li>
            <li>Microsof Visual Studio</li>
            <li>Intellij IDEA &amp; Pycharm</li>
            <li>Unity Game Engine</li>
            <li>Eclipse</li>
        </ul>
    </div>
    <div id="education" class="col s12 center-align">
        <h5>Queens College, City University of New York</h5>
        <h6>Bachelors of Science, Computer Science 2018</h6>
        <div class="divider"></div>
        <h5>Relevant Courses</h5>
        <ul>
            <li>Data Structures</li>
            <li>Algorithms</li>
            <li>Software Design</li>
            <li>Assembly Language</li>
            <li>Web Development</li>
            <li>Computer Organization</li>
            <li>Operating Systems</li>
            <li>Databases</li>
        </ul>
    </div>
</div>

{% include 'portfolio/randomProjects.html' %}

{% endblock %}